/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-size: 16px;	
	font-family: 'Roboto', sans-serif;
}


/*-----CONTAINER -----*/
#container {
	background-color: #fff;   /*becomes the nav background color*/
	min-width: 320px;
	max-width: 1140px;
}

/*-----HEADER -----*/
header {font-family: 'Roboto Slab', serif;}
header h1 {}
header h2 {}



/*-----NAVigation -----*/
nav {}
nav ul li {}
nav ul li a {
	display:block;
	text-align:center;
	padding:.7em;
	color:white;
	border:1px solid #00420D;
	border-radius:10px;
	margin:.5em;
	font-size:.85em;
	text-decoration:none;
	background-color:#82A185;
}
nav ul li a:hover {
	background-color:#999;
}



/*-----CONTENT -----*/
#content {
	min-height: 5em;
}



/*----- FOOTER -----*/
footer {
	clear: both;
	text-align: center;
	padding: 1em;
}