@media only screen and (min-width: 1141px) {
/*-----BODY -----*/
	body {}

/*-----WRAPPER -----*/
/* use a gradient for desktop ending in a solid color */
	#wrapper {}

/*-----CONTAINER -----*/
	#container {
		margin: 2em auto;
		border: 1px solid #00420D;
	}

/*-----HEADER -----*/
/* solid decorative bar at bottom of header */
header {
	display:inline;
}
.logo {
	
}

/*-----NAVigation -----*/
nav {
	
}


/*-----CONTENT -----*/
.news, .tweets {
width:45%;	
height:100px;
background-color:#D0DACD;
}
.news {
	margin-right:5%;
}
.tweets {
	
}
/*----- FOOTER -----*/


} 
