/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-size: 16px;	
	font-family:Source Sans Pro, sans-serif;
	background-color:#00420d;
}

a.alexpow {
	width:100%;
	background:#fff;
	color:#2D327F;
	text-decoration:none;
}

span a{
	font-size:.75em;
	font-style:italic;	
	color:#A6ACFF;	
	background-color:white;
	text-decoration:none;
	}

/*-----CONTAINER -----*/
#container {
	background-color: #D0DACD;   /*becomes the nav background color*/
	min-width: 320px;
	max-width: 960px;

}

/*-----HEADER -----*/
/* solid decorative bar at bottom of header */
header {

	background-color:white;
	border-bottom: solid #00420D 5px;
}
header h1 {

	font-family:Source Code Pro, sans-serif;
	font-size:3em;
	padding-top:.2em;
	}
header h2 {font-size:1.5em;
	padding-top:.2em;}
.logo {
	float:left;
	padding:.5em 2%;

}


/*-----NAVigation -----*/
nav {}
nav ul li {}
nav ul li a {
	display:block;
	text-align:center;
	padding:.7em;
	color:white;
	border:1px solid #00420D;
	border-radius:10px;
	margin:.5em;
	font-size:.85em;
	text-decoration:none;
	background-color:#82A185;
}

nav ul li.active a{
	color:black;
	background-color:#fff;
}

nav ul li a:hover {
	background-color:#00420D;
}

/*-----CONTENT -----*/
#content {
	min-height: 5em;
	background-color:#fff;
	padding-bottom:1em;
}
#content h1 {
	font-size:1em;
	margin-top:1em;
	margin-bottom:1em;
	font-family:Source Code Pro, sans-serif;
	font-weight:700;
}

article {
	margin:0 2%;
}

.news, .tweets {
margin-top:.5em;
margin-bottom:1em;
width:96%;	
height:100px;
background-color:#D0DACD;
overflow:auto;
}
.news h2, .tweets h2 {
	font-size:1em;
	padding:.5em;
	color:#fff;
	text-align:center;
}

.news h3, .tweets h3 {
	padding:.5em;
}


.news h2 {background-color:#000;

}
.tweets h2 {background-color:#00420D;

}

.news p, .tweets p {
	font-size:.8em;
	padding-left:1%;
	padding-right:1%;
}


figure.fullwidth {
	width:100%;
}

figure.scalable {
	width:96%;
	border: 1px solid #D0DACD;
	margin:.3em 0 .3em 2%;
}

figure img {
	width:100%;
}

figcaption {
	text-align:center;
	padding:.3em;
	font-size:.6em;

}

/*----- FOOTER -----*/
footer {
	clear: both;
	text-align: center;
	padding: 1em;
	background-color:#00420D;
	color:#fff;
	font-size:.75em;
}
/* ---- */
.keepopen {
clear:both;	
}