@media only screen and (min-width: 600px) {
/*-----BODY -----*/
	body {
		font-family:Source Sans Pro, sans-serif;
		}



/*-----CONTAINER -----*/
	#container {}



/*-----HEADER -----*/
/* solid decorative bar at bottom of header */
header {
	display:inline;
	bottom-border:solid 1px #00420D;
}
header h1 {display:inline;
font-family:Source Code Pro, sans-serif;
font-size:8em;
}
.logo {
	display:inline;
}

/*-----NAVigation -----*/
	nav ul li {display:inline;	}
	nav ul li a {}
.active {
	color:#1A5525;
	background-color:#D0DACD;
}


/*-----CONTENT -----*/
.news, .tweets {
display:inline;
width:45%;	
height:500px;
background-color:#D0DACD;
}
.news {
	margin-right:5%;
}
.tweets {
	
}
.fullwidth {
	width:100%;
}
.scalable {
	width:50%;
}

/*----- FOOTER -----*/

	
}
