@media only screen and (min-width: 600px) {
/*-----BODY -----*/
	body {
		font-family:Source Sans Pro, sans-serif;
		}



/*-----CONTAINER -----*/
	#container {}



/*-----HEADER -----*/
/* solid decorative bar at bottom of header */
header {

}
header h1 {
font-size:4em;
	padding-top:.2em;
}


/*-----NAVigation -----*/
nav {
	background-color:#D0DACD;
}
	nav ul li {
		}
	nav ul li a {
	display:inline;
	float:left;
	border:none;
	border-radius:0px;
	margin:0;
	}
.active {
	color:#1A5525;
	background-color:#D0DACD;
}


/*-----CONTENT -----*/


figure.scalable {
	width:46%;
	float:right;
}

/*----- FOOTER -----*/

	
}
