/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* default css */
/* VARIABLES */
/* colors */
/* fonts */
/*-----Prevents iPhone from resizing in landscape mode -----*/
/* line 17, ../sass/_phone.scss */
html {
  -webkit-text-size-adjust: none;
}

/*----------- apply a natural box layout model to all elements --------------*/
/* line 20, ../sass/_phone.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----BODY -----*/
/* line 23, ../sass/_phone.scss */
body {
  font-size: 12px;
  font-family: Source Sans Pro, sans-serif;
}

/*-----CONTAINER -----*/
/* line 29, ../sass/_phone.scss */
#container {
  min-width: 300px;
  max-width: 900px;
  margin: auto;
}

/* line 36, ../sass/_phone.scss */
body {
  background-color: #D0DACD;
  background-image: url("http://www.transparenttextures.com/patterns/fake-brick.png");
}

/* navigation */
/* line 42, ../sass/_phone.scss */
nav {
  color: #00420d;
  display: inline;
  position: absolute;
  top: 5px;
  left: 5px;
  float: left;
  margin: 10px;
}

/* line 53, ../sass/_phone.scss */
nav ul {
  display: inline;
}

/* line 54, ../sass/_phone.scss */
nav ul li {
  display: inline;
  margin: 2px;
}

/* line 58, ../sass/_phone.scss */
nav ul li a {
  display: inline;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 63, ../sass/_phone.scss */
nav ul li a:hover {
  color: #4E7B55;
  background-color: #FFF;
}

/* line 68, ../sass/_phone.scss */
#home #nav-home a,
#about #nav-about a,
#tags #nav-tags a,
#ask #nav-ask a,
#submit #nav-submit a {
  background-color: #00420d;
  color: #D0DACD;
}

/* header */
/* line 86, ../sass/_phone.scss */
header {
  width: 100%;
  margin: auto;
}

/* line 90, ../sass/_phone.scss */
.blog-title {
  font-family: Source Code Pro, sans-serif;
  font-size: 72px;
  text-align: center;
  margin: 10px;
  font-style: italic;
  display: block;
  margin-top: 30px;
}

/* line 100, ../sass/_phone.scss */
.description {
  color: #000;
  background-color: #fff;
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 110, ../sass/_phone.scss */
h1, h2 {
  font-family: Source Code Pro, sans-serif;
  text-align: center;
}

/* line 115, ../sass/_phone.scss */
.blog-title a,
.description,
.search-no-results {
  color: #00420d;
}

/* line 121, ../sass/_phone.scss */
a {
  color: #4E7B55;
  text-decoration: none;
}

/* line 127, ../sass/_phone.scss */
h1 a:hover {
  color: #4E7B55;
}

/* line 132, ../sass/_phone.scss */
.tag-buttons {
  width: 100%;
}

/* line 136, ../sass/_phone.scss */
.taglinks {
  background-color: #FFFFFF;
  width: 200px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  color: #00420d;
  font-size: 1.5em;
  border: 1px solid #00420d;
  font-family: Source Code Pro, sans-serif;
}

/* line 151, ../sass/_phone.scss */
.search-wrapper {
  position: relative;
  margin: 5px;
  padding: 5px;
  max-width: 100px;
  display: inline;
}

/* line 159, ../sass/_phone.scss */
figcaption, p, footer, .panel, .post-tags {
  font-family: Source Sans Pro, sans-serif;
  padding: 5px;
}

/* line 164, ../sass/_phone.scss */
span {
  color: #82a185;
}

/* line 169, ../sass/_phone.scss */
span.fa {
  text-align: right;
  float: right;
  padding: 5px;
}

/* line 175, ../sass/_phone.scss */
.post-content h1, .post-content h2 {
  font-family: Source Code Pro, sans-serif;
}

/* line 180, ../sass/_phone.scss */
.grid {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

/* line 186, ../sass/_phone.scss */
.grid-sizer {
  width: 100%;
}

/* line 188, ../sass/_phone.scss */
.grid-item, .grid-item--width2 {
  border: 1px solid #82a185;
  border-radius: 0px;
  background: #FFF;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

/* line 198, ../sass/_phone.scss */
figure {
  width: 100%;
}

/* line 201, ../sass/_phone.scss */
img {
  width: 100%;
}

/* line 205, ../sass/_phone.scss */
#ask_form, #submit_form, .feature-img {
  width: 100%;
  border: 1px solid #82a185;
  border-radius: 0px;
  margin-bottom: 20px;
}

/* footer */
/* line 213, ../sass/_phone.scss */
footer {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

/* clear fix */
/* line 222, ../sass/_phone.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 500px) {
  /* tablet css */
  /* line 3, ../sass/_tab.scss */
  body {
    font-size: 16px;
    font-family: Source Sans Pro, sans-serif;
  }

  /* line 7, ../sass/_tab.scss */
  .tag-buttons {
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
  }

  /* line 13, ../sass/_tab.scss */
  .taglinks {
    margin: 10px;
    display: inline;
  }

  /* line 19, ../sass/_tab.scss */
  .blog-title {
    font-size: 120px;
  }

  /* line 23, ../sass/_tab.scss */
  .gutter-sizer {
    width: 5%;
  }

  /* line 25, ../sass/_tab.scss */
  .grid-item {
    float: left;
    width: 45%;
    margin-bottom: 10px;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }

  /* line 33, ../sass/_tab.scss */
  .grid-item--width2 {
    width: 95%;
    margin-right: 5%;
    display: block;
    margin-bottom: 10px;
  }

  /* line 40, ../sass/_tab.scss */
  #ask_form, #submit_form, .feature-img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media only screen and (min-width: 900px) {
  /* desktop css */
  /* line 3, ../sass/_desk.scss */
  .blog-title {
    font-size: 150px;
  }

  /* line 7, ../sass/_desk.scss */
  .grid {
    width: 900px;
    margin: auto;
  }

  /* line 12, ../sass/_desk.scss */
  .grid-item {
    width: 30%;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }

  /* line 18, ../sass/_desk.scss */
  .grid-item--width2 {
    width: 96%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    display: block;
    margin-bottom: 10px;
  }

  /* line 26, ../sass/_desk.scss */
  #ask_form, #submit_form, .feature-img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
