@charset "utf-8";
/* CSS Document */
span a{
	font-size:.75em;
	font-style:italic;	
	color:#A6ACFF;	
	background-color:white;
	text-decoration:none;
	}
span {
	background-color:white;
	color:white;
}
/*desktop and large screens*/
@media only screen and (min-width: 901px) {
  .large { 
    background-color: #2D327F; 
    color:white;
  }
  p {
	background-color: #2D327F; 
    color:white;
  }
  
}
