/* default styles */
/* mobile < 768px using bootstrap breakpoints */
/* colors */
/* fonts */
/*-----Prevents iPhone from resizing in landscape mode -----*/
/* line 14, ../sass/_default.scss */
html {
  -webkit-text-size-adjust: none;
}

/* line 16, ../sass/_default.scss */
body {
  font-size: 16px;
  font-family: "Merriweather", serif;
}

/* header */
/* line 25, ../sass/_default.scss */
header {
  background-image: url(../images/small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  height: 200px;
  margin: 0;
}

/* line 34, ../sass/_default.scss */
header h1 {
  font-family: "Lobster", cursive;
  font-size: 2em;
  color: #A32B33;
  text-align: right;
  vertical-align: bottom;
}

/* nav */
/* line 43, ../sass/_default.scss */
nav {
  background-color: #BBBBB7;
  color: #0373C1;
}

/* line 48, ../sass/_default.scss */
nav ul li a {
  color: #0373C1;
  display: inline;
  padding: 2px;
}

/* line 55, ../sass/_default.scss */
nav ul li a:hover {
  color: #BBBBB7;
  background-color: #0373C1;
}

/* line 60, ../sass/_default.scss */
nav .glyphicon {
  display: block;
}

/* line 64, ../sass/_default.scss */
#home #nav-home a,
#about #nav-about a,
#rates #nav-rates a,
#specials #nav-specials a {
  background-color: #84A5D8;
}

/* form */
/* line 72, ../sass/_default.scss */
form {
  margin: 0 auto;
  font-family: "Merriweather Sans", sans-serif;
}

/* line 77, ../sass/_default.scss */
legend {
  font-family: "Lobster Two", cursive;
  text-align: center;
  font-size: 3em;
  margin: 0 auto 1em;
}

/* line 83, ../sass/_default.scss */
label {
  margin: 1em auto;
  text-align: center;
  align-content: center;
  width: 100%;
}

/* line 90, ../sass/_default.scss */
.input-group .form-control .datecheck {
  width: 40%;
  float: left;
}

/* line 95, ../sass/_default.scss */
.input-group-addon .datecheck {
  float: left;
}

/* line 99, ../sass/_default.scss */
button.btn {
  display: block;
  width: 50%;
  margin: 1em auto;
  font-weight: 600;
  background-color: #8AA426;
}

/* content */
/* line 109, ../sass/_default.scss */
.row, .form-inline .form-group {
  display: block;
  margin: 1em auto;
}

/* line 114, ../sass/_default.scss */
h1 {
  font-family: "Lobster Two", cursive;
  font-size: 3em;
  padding-top: 1em;
  margin: .5em 2%;
  color: #BBBBB7;
}

/* line 123, ../sass/_default.scss */
h2 {
  font-family: "Lobster Two", cursive;
  font-size: 2em;
  padding-top: 1em;
  margin: .5em 2%;
  color: #BBBBB7;
}

/* line 131, ../sass/_default.scss */
h3 {
  font-family: "Merriweather", serif;
  margin: .25em;
  font-size: 1.5em;
  color: #A32B33;
}

/* line 138, ../sass/_default.scss */
h4 {
  font-family: "Merriweather", serif;
  margin: .25em;
  font-size: 1.5em;
  color: #8AA426;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 148, ../sass/_default.scss */
img, figure {
  width: 100%;
}

/* line 152, ../sass/_default.scss */
.card {
  margin: 1em auto;
}

/* line 156, ../sass/_default.scss */
p {
  background-color: #fff;
}

/* footer */
/* line 162, ../sass/_default.scss */
footer {
  clear: both;
  text-align: center;
  padding: 1em;
  color: #BBBBB7;
}

/* line 169, ../sass/_default.scss */
footer a {
  color: #8AA426;
}

/* tablet > 768px */
@media only screen and (min-width: 768px) {
  /* tablet css */
  /* line 3, ../sass/_tab.scss */
  header h1 {
    font-size: 3em;
  }

  /* line 6, ../sass/_tab.scss */
  header {
    background-image: url(../images/medium.jpg);
    height: 350px;
  }

  /* nav */
  /* line 13, ../sass/_tab.scss */
  nav {
    width: 100%;
    margin: 0 auto;
  }

  /* form */
  /* line 18, ../sass/_tab.scss */
  .form-inline .input-group > .form-control .datecheck {
    width: 100%;
  }

  /* line 22, ../sass/_tab.scss */
  .c-select {
    width: 90%;
    float: right;
  }

  /* content */
}
/* desktop > 992px */
@media only screen and (min-width: 992px) {
  /* desktop css */
  /* header */
  /* line 8, ../sass/_desk.scss */
  header {
    max-width: 2000px;
    background-image: url(../images/large.jpg);
    height: 500px;
  }

  /* line 14, ../sass/_desk.scss */
  header h1 {
    font-size: 4.5em;
  }

  /* nav */
  /* line 19, ../sass/_desk.scss */
  nav .glyphicon {
    display: inline;
    padding-right: .5em;
  }

  /* form */
  /* content */
}
