/* default styles */
/* mobile < 768px using bootstrap breakpoints */
/* colors */
/* fonts */
/*-----Prevents iPhone from resizing in landscape mode -----*/
/* line 14, ../sass/_default.scss */
html {
  -webkit-text-size-adjust: none;
}

/* line 16, ../sass/_default.scss */
body {
  font-size: 16px;
  font-family: "Merriweather", serif;
}

/* header */
/* line 25, ../sass/_default.scss */
header {
  background-image: url(../images/small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  height: 200px;
  margin: 0;
}

/* line 34, ../sass/_default.scss */
header h1 {
  font-family: "Lobster", cursive;
  font-size: 3em;
  color: #A32B33;
  text-align: right;
  vertical-align: bottom;
  margin: 0;
  float: right;
  vertical-align: bottom;
  display: inline-table;
}

/* nav */
/* line 47, ../sass/_default.scss */
.navbar-default {
  background-color: #BBBBB7;
  color: #0373C1;
  border-radius: none;
}

/* line 53, ../sass/_default.scss */
ul .nav .navbar-nav {
  width: 100%;
}

/* line 57, ../sass/_default.scss */
.navbar-default .navbar-nav > li {
  width: 25%;
  margin: 0 auto;
}

/* line 62, ../sass/_default.scss */
.navbar-default .navbar-nav > li > a {
  color: #0373C1;
  text-align: center;
}

/* line 70, ../sass/_default.scss */
nav ul li a:hover {
  color: #BBBBB7;
  background-color: #0373C1;
}

/* line 75, ../sass/_default.scss */
nav .glyphicon {
  display: block;
}

/* line 79, ../sass/_default.scss */
#home #nav-home a,
#about #nav-about a,
#rates #nav-rates a,
#specials #nav-specials a {
  background-color: #84A5D8;
  color: #333;
}

/* form */
/* line 88, ../sass/_default.scss */
form {
  margin: 0 auto;
  font-family: "Merriweather Sans", sans-serif;
}

/* line 93, ../sass/_default.scss */
legend {
  font-family: "Lobster Two", cursive;
  text-align: center;
  font-size: 3em;
  margin: 0 auto 1em;
}

/* line 99, ../sass/_default.scss */
label {
  margin: 1em auto;
  text-align: center;
  align-content: center;
  width: 100%;
}

/* line 106, ../sass/_default.scss */
.input-group .form-control .datecheck {
  width: 40%;
  float: left;
}

/* line 111, ../sass/_default.scss */
.input-group-addon .datecheck {
  float: left;
}

/* line 115, ../sass/_default.scss */
button.btn {
  display: block;
  width: 50%;
  margin: 1em auto;
  font-weight: 600;
  background-color: #8AA426;
}

/* content */
/* line 125, ../sass/_default.scss */
.row, article, .form-inline .form-group {
  display: block;
  margin: 1em auto;
}

/* line 130, ../sass/_default.scss */
h1, h2 {
  font-family: "Lobster Two", cursive;
  text-align: center;
}

/* line 135, ../sass/_default.scss */
h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

/* line 139, ../sass/_default.scss */
h6 {
  text-align: center;
}

/* line 143, ../sass/_default.scss */
h1 {
  font-size: 2em;
  padding-top: 1em;
  margin: .5em 2%;
  color: #BBBBB7;
}

/* line 151, ../sass/_default.scss */
h2 {
  font-size: 2em;
  padding-top: 1em;
  margin: .5em 2%;
  color: #BBBBB7;
}

/* line 158, ../sass/_default.scss */
h3 {
  margin: .25em;
  font-size: 1.5em;
  color: #A32B33;
}

/* line 164, ../sass/_default.scss */
h4 {
  margin: .25em;
  font-size: 1.5em;
  color: #8AA426;
  width: 100%;
  text-align: center;
}

/* line 172, ../sass/_default.scss */
img, figure {
  width: 100%;
}

/* line 176, ../sass/_default.scss */
.card {
  margin: 1em auto;
}

/* line 180, ../sass/_default.scss */
p {
  background-color: #fff;
}

/* line 184, ../sass/_default.scss */
.card-specials {
  background-color: #5bc0de;
  border-color: #5bc0de;
  text-align: center;
}

/* footer */
/* line 191, ../sass/_default.scss */
footer {
  clear: both;
  text-align: center;
  padding: 1em;
  color: #BBBBB7;
}

/* line 198, ../sass/_default.scss */
footer a {
  color: #8AA426;
}

/* tablet > 768px */
@media only screen and (min-width: 768px) {
  /* tablet css */
  /* line 3, ../sass/_tab.scss */
  header h1 {
    font-size: 4em;
  }

  /* line 6, ../sass/_tab.scss */
  header {
    background-image: url(../images/medium.jpg);
    height: 350px;
  }

  /* nav */
  /* line 13, ../sass/_tab.scss */
  nav {
    width: 100%;
    margin: 0 auto;
  }

  /* form */
  /* line 18, ../sass/_tab.scss */
  .form-inline .input-group > .form-control .datecheck {
    width: 100%;
  }

  /* line 22, ../sass/_tab.scss */
  .c-select {
    width: 90%;
    float: right;
  }

  /* content */
}
/* desktop > 992px */
@media only screen and (min-width: 992px) {
  /* desktop css */
  /* header */
  /* line 8, ../sass/_desk.scss */
  header {
    max-width: 2000px;
    background-image: url(../images/large.jpg);
    height: 500px;
  }

  /* line 14, ../sass/_desk.scss */
  header h1 {
    font-size: 4.5em;
  }

  /* nav */
  /* line 20, ../sass/_desk.scss */
  nav .glyphicon {
    display: inline;
    padding-right: .5em;
  }

  /* form */
  /* content */
  /* line 33, ../sass/_desk.scss */
  article {
    max-width: 1000px;
  }

  /* line 37, ../sass/_desk.scss */
  figure .col-sm-6 .col-med-4 {
    display: inline;
    float: right;
  }

  /* line 42, ../sass/_desk.scss */
  .card-block .col-sm-6 {
    display: inline;
    float: left;
  }
}
